.language {
  position: relative;
  margin-right: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 15;
  width: 58px;
  background-color: var(--white);

  &__current_lang {
    cursor: pointer;
    user-select: none;
  }

  &__current_lang {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: var(--main-black);
    background-color: var(--white);
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #eef1f4;
    min-width: 58px;
    text-align: center;
  }

  &--list {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--white);
    border: 1px solid #eef1f4;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 10;

    &.show {
      top: 45px;
      visibility: visible;
      opacity: 1;
    }

    li {
      padding: 10px 12px;
      font-size: 14px;
      line-height: 17px;
      color: var(--main-black);
      border-bottom: 1px solid #eef1f4;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}
