.arrow-button {
  background-color: transparent;
  position: fixed;
  bottom: 140px;
  right: 9%;
  cursor: pointer;
  z-index: 100;

  @media only screen and (max-width: 640px) {
    bottom: 40px;
  }

}
